<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3</title>
    <!-- Eric Meyer CSS reset -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" /> -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- material-icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- CSS Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire|outline|emboss|shadow-multiple">
    <style>        
        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .banner {
            background-color: lightblue;
        }
        .imgFilme {
            max-width: 100px;
        }
        .logo {
            max-width: 80px;
        }
        #principal, #app, html {
            height: 100%;
        }
        #footer {   
            position:absolute;
            right:0px;
            bottom:0px;
            padding: 10px;            
        }
        select {
            /* resolve a pane do select materialize */
            display: inline !important; 
            border-style: outset;
            border-radius: 20px;
            text-align: center;
            font-weight: bold;
         }
    </style>
</head>
<body>
    <div id="app">
    <div id="principal" :style="styleColor" >
        <!-- <h1 class=" center-align" >{{ title }}</h1>  -->
        <div class="flex banner">
            <img :src="logo" alt="logo" class="logo" >
            <h3>{{ title }}</h3>
            <span class="badge">{{ now }}</span>
        </div>
        <div class="container">
            <div id="provaFinal" v-if="false" >
                <span v-if="nota >= 7">Aprovado com louvor</span>
                <span v-else-if="nota >= 5">Aprovado</span>
                <span v-else >Reprovado</span>
            </div>
            <div class="flex">
                <h5> ({{ cart.length }}) itens no <i class="material-icons">local_grocery_store</i></h5>
                <div class="browser-default">
                    <select v-model="styleSelect" material-select :style="styleColor">
                        <option v-for="(style, index) in styles" :value="index">{{ style.name }}</option>
                    </select>
                    <!-- <label>Selecione o estilo</label> -->
                </div>                
            </div>
            <div class="row">
                <div v-for="(film, index) in films">                    
                    <film-detail 
                        :film="film"
                        :index="index"
                        :film-show="film.show"
                        :film-top="film.stars > 4"
                        @add-cart="addCart">
                    </film-detail>        
                </div>
            </div>
            <div class="row">
                <example-form></example-form>                                      
            </div>
        </div>
        
        <span id="footer">{{ fullName }}</span>
    </div>
    </div> <!-- my app vue -->

    <!-- Vue 3 CDN -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./app.js"></script>
    <script src="./components/FilmDetail.js"></script>
    <script src="./components/ExempleForm.js"></script>
    <script>
        app.mount('#app');
    </script>
     
</body>
</html>